playwright==1.41.2
requests==2.31.0
python-dotenv==1.0.0
cohere>=4.32
argparse>=1.4.0
networkx==3.1
matplotlib==3.7.1
opencv-python>=4.8.0
pillow>=10.0.0
paddleocr>=2.7.3 # Added paddleocr for OCR functionality